<!DOCTYPE html>
<html lang="KO">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title%} No TITLE {% endblock %}</title>
		{% comment %}
		<link rel="stylesheet" href="style.css" />
		{% endcomment %}
		<script src=""></script>
	</head>
	<body>
		{% include 'navbar.html' %} {% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %} {% block content %} NO CONTENTS {% endblock %}
	</body>
</html>
