<!DOCTYPE html>
{% load static %}
<html lang="KO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beyond Bite - 사랑받는 서비스를 만듭니다</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>
<body>
    <h1>HOME</h1>
    <p>안녕하세요 Beyond Bite의 홈페이지입니다.</p>
    <a href="/about"><p>about</p></a>
</body>
</html>